<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPress</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- este link abaixo e para adicionar os icones  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- continua no arquivo footer.ejs -->
