<%-include ("../partials/header.ejs") %>
<%-include ("../partials/navbar.ejs") %>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h4>Novo usuario</h4>
        </div>
        <div class="card-body">
            <form action="/admin/usuarios/create" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">

                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="form-control">

                <label for="password2">Digite Novamente</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="">

                <button style="float: left;" type="submit" class="btn btn-success mt-3 btn-block">Criar usuario</button>
            </form>

        </div>

    </div>
</div>
</div>

<%-include ("../partials/footer.ejs") %>