<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Editando artigo</h4>
        </div>
        <div class="card-body">
            <input type="text" name="title" id="title" class="form-control" placeholder="Defina o titulo do artigo"
                required>
            <button type="submit" class="btn btn-success mt-3">salvar artigo</button>
        </div>
    </div>
</div>
<%- include ("../../partials/footer.ejs") %>